---
import DefaultHeader from '@astrojs/starlight/components/Header.astro';
---

<div class="retro-header">
  <DefaultHeader {...Astro.props} />
</div>

<style>
  .retro-header {
    border-bottom: 2px solid var(--border);
    box-shadow: 2px 2px 0 0 var(--border);
  }

  .retro-header :global(.header .title-wrapper a) {
    font-family: var(--font-head);
  }
</style>
