@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant data-disabled {
  &:where([data-disabled='true']),
  &:where([data-disabled]:not([data-disabled='false'])) {
    @slot;
  }
}

/* RetroUI Theme */
@theme {
  --font-sans: 'Space Grotesk', sans-serif;
  --radius: var(--radius);

  --shadow-xs: 1px 1px 0 0 var(--border);
  --shadow-sm: 2px 2px 0 0 var(--border);
  --shadow: 3px 3px 0 0 var(--border);
  --shadow-md: 4px 4px 0 0 var(--border);
  --shadow-lg: 6px 6px 0 0 var(--border);
  --shadow-xl: 10px 10px 0 1px var(--border);
  --shadow-2xl: 16px 16px 0 1px var(--border);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-connected: var(--connected);
  --color-connected-border: var(--connected-border);
  --color-disconnected: var(--disconnected);
  --color-disconnected-border: var(--disconnected-border);
}

:root {
  --radius: 0;
  --background: #fff;
  --foreground: #000;
  --card: #fff;
  --card-foreground: #000;
  --popover: #fff;
  --popover-foreground: #000;
  --primary: #2eb67d;
  --primary-hover: #26a06d;
  --primary-foreground: #fff;
  --secondary: #000;
  --secondary-foreground: #fff;
  --muted: #aeaeae;
  --muted-foreground: #5a5a5a;
  --accent: #e3f5ed;
  --accent-foreground: #000;
  --destructive: #e01e5a;
  --destructive-foreground: #fff;
  --border: #000;
  --input: #000;
  --ring: #000;
  --connected: #2eb67d;
  --connected-border: #26995f;
  --disconnected: #e01e5a;
  --disconnected-border: #c41a4e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  html {
    @apply font-sans;
    margin: 0;
    padding: 0;
  }
  #app-container {
    width: 100%;
  }
}
